# Python
__pycache__/
*.py[cod]
*.egg-info/
*.log
*.sqlite3
*.db

# Environment
.env
venv/
.envrc

# FAISS Vector DB
embeddings/
*.faiss

# Streamlit
.streamlit/secrets.toml
.streamlit/

# Jupyter/VS Code
.ipynb_checkpoints/
.vscode/

# OS/Editor
.DS_Store
Thumbs.db

# PDFs / Uploaded Docs
data/
